.contaier{
    width:85%;
    margin:auto;
    .nav{
        display:flex;
        justify-content: space-between;
        border:1px solid red;
    }
    .menu{
        width:45%;
        border:1px solid blue;
    }
    .list{
        width:45%;
        border:1px solid green;
    }
    .menu li{
        list-style-type: none;
    }
}
